/* --- navigation --- */
nav {
  background-color: transparent;
  box-shadow: none;
  z-index: 999999;
}

#sidenav-overlay {
  z-index: 90
}

nav a i#fixside {
  color: #ffffff;
}

nav a img#mylogo {
  padding-top: 10px;
  padding-left: 10px;
}

nav ul li a {
  font-weight: bold;
  color: #ffffff;
}

nav ul li a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  color: #02020a;
}

nav ul.side-nav {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 45px;
}

nav ul.side-nav li a {
  color: #edf2f4;
}

nav ul.side-nav li a:hover {
  background-color: rgba(64, 64, 64, 0.7);
  color: #ffffff;
  font-weight: bold;
}

/* --------- style for the scrolling page --------- */
/* vertical scroll */
body{
    background:#000000;
    font-family: Helvetica;
}

/* vertical */
.section{
    margin:0px;
    height:1000px;
    width:100%;
    float:left;
    z-index: -3;
}

/*#section02 {
  height: 200px;
}*/

.section h1 {
  padding-top: 200px;
  font-weight: bold;
  font-size: 60px;
  margin: 0px;
  color: #ef233c;
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.section hr {
  color: #2d2d34;
  width: 60%;
  margin: auto;
}

.section h2#homeh2 {
  font-weight: normal;
  font-size: 35px;
  color: #edf2f4;
  margin: 0px;
  padding: 0px;
  text-align: center;
  padding-top: 10px;
}

.section h2 {
    padding-top: 30px;
    font-weight: bold;
    font-size: 34px;
    margin: 50px 0px 30px 50px;
    color: #ef233c;
    text-align: center;
}

.section p {
    font-size: 26px;
    line-height: 33px;
    color: #2d2d34;
}

.section p#firsthome {
    margin-top: 20px;
    margin-bottom: 200px;
}

.section p.aboutskill {
    text-indent: 2em;
    padding-bottom: 5px;
}

.section div#centerd3 {
    margin: 20px 0px 0px 50px;
    width: 600px;
}

.home {
  color: #ffffff;
  background-image: url(../images/homeimg03.jpg);
  background-repeat: none;
  background-size: cover;
  margin-top: -75px;
  height: 750px;
  z-index: -1;
}

.contact {
  color: #ffffff;
  background-image: url(../images/contact0103.jpg);
  background-repeat: none;
  background-size: cover;
  height: 700px;
  z-index: -1;
}

.contact h2 {
  /*background-color: rgba(250, 250, 250, 0.5);*/
  color: #ffffff;
  margin-left: 0px;
  padding-left: 0px;
}

.whitesec {
    color: #ffffff;
    background-color: #edf2f4;
}

.goldsec {
    color:#000000;
    background-color: #a89b9d;
    /*background-color: #ffffff;*/
}

/*nav ul li a .whitesec {
  color: black;
  border: 3px solid red;
}
*/
/*.goldsec h2 {
  color: #edf2f4;
}*/

/* ----------- end of style for the scrolling ------------- */
/* ----------- typing effect and text --------------------- */
.container {
  max-width: 90%;
  z-index: 1;
  margin: 0 auto;
  padding-bottom: 50px;
}

.textContainer {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.15vw;
  line-height: 1.05;
  min-height: 88vh;
}

.jstext {
  width: 100%;
  padding-top: 0px;
  padding-right: 50px;
}
.jstext:after {
  content: "_";
  animation: sliding 2s 0.3s 1 forwards, blinking 2s 2s infinite forwards;
  position: absolute;
  transform: translate(10%, -10%);
  overflow: hidden;
  width: 0px;
}

.text {
  color: #46200A;
}

#brName {
  display: none;
}

@keyframes sliding {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------------------
     MEDIA QUERIES 
----------------------------------*/
@media all and (max-width: 1024px) {
  .textContainer {
    min-height: 75vh;
  }
}
@media all and (max-width: 768px) {
  #brName {
    display: block;
  }

  .textContainer {
    min-height: 80vh;
    font-size: 40px;
  }

  .jstext {
    padding-right: 0px;
  }
}
@media all and (max-width: 468px) {
  .textContainer {
    min-height: 80vh;
    font-size: 30px;
  }

  .jstext {
    padding-right: 0px;
  }
}


/* ----------- end of typing effect ----------------------- */
/* ----------- style for the d3 animated chart ------------ */
/*label {
  color: #000000;
}

.t2 { 
    font-size: 150%; 
}*/

/*float*/
/*.fl { 
    float: left; 
}

.fr { 
    float: right; 
}

.fn { 
    float: none; 
}

.title { 
    padding-left: 260px;
}

.y-axis path {
  fill: none;
  stroke: none;
}

.y-axis line, .string,
.x-axis path, .x-axis line {
  fill: none;
  stroke: #a1a1a1;
  shape-rendering: crispEdges;
}

.xLabel, .value { 
    text-anchor: middle; 
}

.y-unit {
  alignment-baseline: middle;
}

.y-unit-right {
  text-anchor: end;
}

.wide-tick line {
  stroke-width: 7px;
}

.numb, .y-axis text, .x-axis text {
  pointer-events: none;
}

.brush .extent {
  stroke: #FFF;
  shape-rendering: crispEdges;
  fill: #E6E7E8;
  opacity: 1.0;
}

.clickable {
  cursor: hand;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 6px;
}

text { 
    font-size: 12px; 
}

.ctext { 
    text-align: "middle";
}

.hide { 
    display: none; 
}

.dbg-vis-border {
  border: #797979 solid 1px;
}

.dbg-svg-green {
  fill: #00ff00;
}

.bold {
  font-weight: bold;
}
*/
/* layout stuff */
/*.mt1 {
  margin-top: 25px;
}

.pt1 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pr2 {
  padding-right: 30px;
}

.ml2 {
  margin-left: 40px;
}*/


/* option 2 */
/*#chart-container {
  padding: 20px;
}

.horizontal-bar {
  fill: #2d2d34;
}*/


/* option 03 */
.liquidFillGaugeText { 
  font-family: Helvetica; 
  font-weight: bold; 
}

/* ----------- end of style for the animated d3 chart ------------ */
/* ----------- for expanding the portfolio images ---------------- */
.expanding-grid {
  position: relative;
  width: 100%;
}
.expanding-grid .links {
  display: block;
  margin: 0 -1em;
  overflow: hidden;
  padding: 1em 0;
}
.expanding-grid .links > li {
  box-sizing: border-box;
  float: left;
  padding: 1em;
}
.expanding-grid .links > li a {
  background: orange;
  color: #fff;
  display: block;
  font-size: 2em;
  line-height: 1;
  padding: 25% 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
/*  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}
.expanding-grid .links > li a:hover {
  background: #ffb733;
}
.expanding-grid .links > li a.active {
  background: #cc8400;
}
.expanding-grid .links > li a.active:after {
  background-color: transparent;
  border-bottom: 0.375em solid #888;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  bottom: -0.5em;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -0.375em;
  position: absolute;
  width: 0;
}
@media only screen and (max-width: 39.99em) {
  .expanding-grid .links > li {
    width: 50%;
  }
  .expanding-grid .links > li:nth-of-type(2n+1) {
    clear: left;
  }
}
@media only screen and (min-width: 40em) and (max-width: 59.99em) {
  .expanding-grid .links > li {
    width: 33.33333%;
  }
  .expanding-grid .links > li:nth-of-type(3n+1) {
    clear: left;
  }
}
@media only screen and (min-width: 60em) {
  .expanding-grid .links > li {
    width: 25%;
  }
  .expanding-grid .links > li:nth-of-type(4n+1) {
    clear: left;
  }
}
.expanding-grid .spacer {
  background-color: #888;
  clear: both;
  display: block;
  margin: 0 1em;
}
.expanding-grid .expanding-container {
  clear: both;
  display: none;
  overflow: hidden;
  width: 100%;
}
.expanding-grid .expanding-container.expanded, .expanding-grid .expanding-container:target {
  display: block;
}
.expanding-grid .hentry {
  background: #888;
  box-sizing: border-box;
  clear: both;
  color: #fff;
  min-height: 4em;
  overflow: hidden;
  padding: 2em;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.expanding-grid .hentry .entry-image {
  box-sizing: border-box;
  float: right;
  margin-left: 1em;
  padding: 0.25em 0 0.52em 1em;
  text-align: center;
  width: 50%;
}
.expanding-grid .hentry .entry-title {
  font-size: 1.5em;
}
.expanding-grid .close-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNLjcuN2wxOCAxOG0tMTggMGwxOC0xOCIvPjwvc3ZnPg==) no-repeat scroll 50% 50% transparent;
  color: #fff;
  display: inline-block;
  height: 20px;
  line-height: 1;
  overflow: hidden;
  padding: 1.5em 2em;
  text-decoration: none;
  text-indent: 5em;
  white-space: nowrap;
  width: 20px;
  will-change: opacity;
  z-index: 5;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}
.expanding-grid .close-button.active {
  /*-webkit-transition: opacity 0.2s;*/
  transition: opacity 0.2s;
}
.expanding-grid .close-button:hover {
  opacity: 0.5;
}

/*.img-placeholder {
  background: orange;
  color: #fff;
  font-size: 4em;
  font-weight: 300;
  line-height: 1;*/
  /*padding: 25% 0.25em;*/
  /*height: 350px;
  width: 350px;*/
  
/*  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*slider*/
/*div.slider {
  border:1px solid red;
  margin-top: 15px;
}*/

img.portfolioimg {
  margin-top: 30px;
  width: 330px;
  box-shadow: 2px 2px 10px #333333;
}



/* ----------- end of expanding effect --------------------------- */